.categories {
  display: flex;
//  justify-content: space-between;
  min-height: 75vh;
  margin:0px 15px;
}

.man {
  background-color: green;
  flex: 1;

}

.women {
  background-color: red;
  flex: 1;
  margin: 0px 0px 0px 15px;
}
.best-sellers{
  h1{
    padding-top: 20px;
    text-align: center;
  }
  .items{
    background-color: white;
    display: flex;
    .item{
      background-color: gold;
      flex: 1;
      height: 240px;
      width: 30px;
      margin: 10px;
    }
  }
}
