<div class="categories">
  <div class="man">
    <img src="\assets\man-category.webp" alt="">
  </div>
  <div class="women">
    <img src="\assets\woman-category.webp" alt="">
  </div>
</div>
<div class="best-sellers">
    <h1>Best Sellers</h1>
    <div class="items">
      <div class="item">
        <img src="assets/1.jpg" alt="item">
      </div>
      <div class="item"><img src="assets/1.jpg" alt="item"></div>
      <div class="item"><img src="assets/1.jpg" alt="item"></div>
      <div class="item"><img src="assets/1.jpg" alt="item"></div>
    </div>
</div>
